* {
    margin: 0;
    padding: 0;
}
/* common */
.mb {
    margin-bottom: 1rem;
}
/* top */
.top-area {
    width: 900px;
    height: 157px;
    margin: 0 auto;
    background-color: #f7f7b8;
}
.top-bar {
    height: 7px;
    background-color: #64DB8F;
}
.top-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 0.75rem;
}
.top-nav-menu {
    list-style: none;
    display: flex;
    font-size: 0.75rem;
    height: 1.2rem;
}
.top-nav-menu li {
    padding: 0rem 0.75rem;
}
.border {
    border-left: 0.8px solid;
    border-right: 0.8px solid;
}
.top-main {
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.75rem 0;
}
#service-title {
    font-size: 1.6rem;
}
#english {
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem;
    color: white;
    background-color: #DB7307;
    align-self: flex-end;
    margin-bottom: 0.75rem;
}
/* main */
.container {
    height: 1000px;
    background-color: rgb(100, 219, 143);
}
.main {
    width: 900px;
    height: 100%;
    margin: auto;
    background-color: white;
}
.conference-title-box { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border: 1px solid;
    height: 60px; 
}
.menu-area {
    display: flex;
    justify-content: right;
}
.menu {
    list-style: none;
    display: flex;
}
.menu li {
    background-color: #f7f7b8;
    border: 1px solid;
    border-top: none;
    margin: 0 0.75rem 0;
    padding: 0.3rem 0.4rem;
    border-radius: 0 0 10px 10px;
}
.menu-title-area {
    text-align: center;
    margin-bottom: 1.25rem;
}
.menu-title {
    padding-bottom:  0.25rem;
    border-bottom: 2px solid rgb(183, 182, 182);
    font-size: 1.2rem;
}
.seminar-date {
    margin: 0 1rem 1rem;
    padding: 0.25rem 0.5rem;
    background-color: #64DB8F;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    background: linear-gradient(to right, rgb(94, 206, 135), rgb(100, 219, 143, 0.2) );
}
.info-area {
    margin: 0 1rem 0;
    display: flex;
}
.info-box {
    border: 1px solid;
    display: flex;
}
.box-right {
    width: 200px;
    border-left: 1px solid;
}
.reserve-num {
    height: 141px;
    border-bottom: 1px solid;
}
.reserve-num-title {
    height: 41px;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-bottom {
    height: 141px;
    display: flex;
}
.buttons {
    margin: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.right-bottom span {
    border: 1px solid;
    text-align: center;
    width: 141px;
}