<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ランチョン管理サイト | 一覧</title>
    <link rel="stylesheet" href="../../static/css/editor/register.css">
    <link rel="stylesheet" href="../../static/css/editor/list.css">
</head>
<body>
    <div class="nav-bar">
        <div class="title">
            <div>『ランチョンセミナー予約』 管理者サイト</div>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="" class="nav-link">登録</a></li>
                <li><a href="" class="nav-link">一覧</a></li>
                <li><a href="" class="nav-link">ログアウト</a></li>
            </ul>
        </div>
    </div>
    <div class="list-container">
        <div class="list">
            <div class="title-area">
                <span class="title-border">セミナー情報一覧</span><span>（セミナータイトルをクリックして編集)</span>
            </div>
            <div class="list-wrapper">
                <div class="column">セミナータイトル</div>
                <div class="column">企業名</div>
                <div class="column">日付</div>
                <div class="column">セミナーポスター</div>
                <div class="column">お弁当画像</div>

                <!-- 繰り返し -->
                <div class="data">
                    <span><a href="">ランチョンセミナー1
                        
                    </a></span>
                </div>
                <div class="data">
                    <span>ジョンソン・アンド・ジョンソン株式会社</span>
                </div>
                <div class="data">
                    <span>10月19日</span>
                </div>
                <div class="data">
                    <span><img src="../../pdf/seminar/poster_ls1.jpeg" class="seminar-poster"></img></span>
                </div>
                <div class="data">
                    <span><img src="../../pdf/lunch/2016-05-23-06.13.35_1x1.jpg" class="lunch-image"></imgv></span>
                </div>
                <!-- 繰り返し -->
            </div>
        </div>
    </div>
</body>
</html>