<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/editor/register.css">
    <title>ランチョン管理サイト | 登録</title>
</head>
<body>
    <div class="nav-bar">
        <div class="title">
            <div>『ランチョンセミナー予約』 管理者サイト</div>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="" class="nav-link">登録</a></li>
                <li><a href="" class="nav-link">一覧</a></li>
                <li><a href="" class="nav-link">ログアウト</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <form class="register-form">
            <div class="title-area">
                <span class="title-border">セミナー情報登録</span>
            </div>
            <div class="input-area">
                <div class="box1">セミナータイトル</div>
                <div class="box2">
                    <input type="text">
                </div>
                <div class="box3">企業名</div>
                <div class="box4">
                    <input type="text">
                </div>
                <div class="box5">日付</div>
                <div class="box6">
                    <select class="date-input">
                        <option value="">10月19日</option>
                        <option value="">10月20日</option>
                        <option value="">10月21日</option>
                    </select>
                </div>
                <div class="box7">セミナーポスター</div>
                <div class="box8">
                    <div class="seminar-poster"></div>
                </div>
                <div class="box9">
                    <label class="file-button">
                        ファイルを選択
                        <input type="file" value="ファイルを選択" class="file-input">
                    </label>    
                </div>
                <div class="box10">お弁当画像</div>
                <div class="box11">
                    <div class="lunch-image"></div>
                </div>
                <div class="box12">
                    <label class="file-button">
                        ファイルを選択
                        <input type="file" value="ファイルを選択" class="file-input">
                    </label>   
                </div>
            </div>
            <div class="button-area">
                <span id="register-button">登録</span>
            </div>
        </form>
    </div>
</body>
</html>