<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ランチョン予約</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="top-area">
        <div class="top-wrapper">
            <div class="top-bar"></div>
            <div class="top-nav">
                <ul class="top-nav-menu">
                    <li class="border padding">サイトについて</li>
                    <li class="border padding">プライバシーポリシー</li>
                    <li class="border padding">お問い合わせ</li>
                    <li>ログアウト</li>
                </ul>
            </div>
            <div id="slogan">学会でのフードロスを削減する</div>
            <div class="top-main">
                <div id="service-title">ランチョンセミナー予約</div>
                <div id="english">English</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main">
            <div class="conference-title-box">
                <span class="conference-title">第76回 日本胸部外科学会定期学術集会</span>
            </div>
            <div class="menu-area mb">
                <ul class="menu">
                    <li>セミナー情報</li>
                    <li>予約状況</li>
                </ul>
            </div>
            <div class="menu-title-area">
                <span class="menu-title">
                    セミナー情報
                </span>
            </div>
            <div class="seminar-date">
                10月19日
            </div>
            <div class="info-area">

                <!-- 繰り返し -->
                <div>
                    <div class="seminar-title">ランチョンセミナー１</div>
                    <div class="info-box">
                        <img src="../pdf/poster_ls1.jpeg" alt="pdf1">
                        <div class="box-right">
                            <div class="reserve-num-area">
                                <div class="reserve-num-title">
                                    予約者数
                                </div>
                                <div class="reserve-num">
                                    <span><span class="num-top">18</span>  / 50 席</span>
                                </div>
                            </div>
                            <div class="right-bottom">
                                <div class="buttons">
                                    <span class="watch">お弁当を見る</span>
                                    <span class="reserve">予約する</span>
                                    <span class="cancel">キャンセル</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company">日本メドトロニック株式会社</div>
                </div>

                <div>
                    <div class="seminar-title">ランチョンセミナー2</div>
                    <div class="info-box">
                        <img src="../pdf/poster_ls2.jpeg" alt="pdf1">
                        <div class="box-right">
                            <div class="reserve-num-area">
                                <div class="reserve-num-title">
                                    予約者数
                                </div>
                                <div class="reserve-num">
                                    <span><span class="num-top">21</span>  / 50 席</span>
                                </div>
                            </div>
                            <div class="right-bottom">
                                <div class="buttons">
                                    <span class="watch">お弁当を見る</span>
                                    <span class="reserve">予約する</span>
                                    <span class="cancel">キャンセル</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company">日機装株式会社</div>
                </div>

                <div>
                    <div class="seminar-title">ランチョンセミナー3</div>
                    <div class="info-box">
                        <img src="../pdf/poster_ls3.jpeg" alt="pdf1">
                        <div class="box-right">
                            <div class="reserve-num-area">
                                <div class="reserve-num-title">
                                    予約者数
                                </div>
                                <div class="reserve-num">
                                    <span><span class="num-top">26</span>  / 50 席</span>
                                </div>
                            </div>
                            <div class="right-bottom">
                                <div class="buttons">
                                    <span class="watch">お弁当を見る</span>
                                    <span class="reserve">予約する</span>
                                    <span class="cancel">キャンセル</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company">ジョンソン・エンド・ジョンソン株式会社</div>
                </div>
                <!-- 繰り返し -->
            </div>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>