<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ランチョン予約</title>
    <link rel="stylesheet" href="../../static/css/user/signUp.css">
    <link rel="stylesheet" href="../../static/css/user/login.css">
</head>
<body>
    <div class="container">
        <div class="square">
            <div class="buns title align-start">
                <span>ランチョンセミナー予約</span>
            </div>
            <div class="wrapper-login">
                <div class="grid-track box-l-1 center">
                    <span class="menu-title">ログイン</span>
                </div>
                <div class="grid-track box-l-2 end">メールアドレス</div>
                <div class="grid-track box-l-3 center">
                    <input class="input" type="text">
                </div>
                <div class="grid-track box-l-4 end">パスワード</div>
                <div class="grid-track box-l-5 center">
                    <input class="input" type="text">
                </div>
                <div class="grid-track box-l-6 center">
                    <span class="submit-button">ログイン</span>
                </div>
            </div>
            <div class="buns align-center">
                <a href="" id="login">新規登録</a>
            </div>
        </div>
    </div>
</body>
</html>