<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ランチョン予約</title>
    <link rel="stylesheet" href="../../static/css/user/signUp.css">
</head>
<body>
    <div class="container">
        <div class="square">
            <div class="buns title align-start">
                <span>ランチョンセミナー予約</span>
            </div>
            <div class="wrapper">
                <div class="grid-track box1 center">
                    <span class="menu-title">新規登録</span>
                </div>
                <div class="grid-track box2 end">メールアドレス</div>
                <div class="grid-track box3 center">
                    <input class="input" type="text">
                </div>
                <div class="grid-track box4 end">パスワード</div>
                <div class="grid-track box5 center">
                    <input class="input" type="text">
                </div>
                <div class="grid-track box6 end">ユーザー種別</div>
                <div class="grid-track box7 center">
                    <div class="buttons">
                        <span class="user-type-button">学会参加者</span>
                        <span class="user-type-button">セミナー主催者</span>
                    </div>
                </div>
                <div class="grid-track box8 center">
                    <span class="submit-button">登録</span>
                </div>
            </div>
            <div class="buns align-center">
                <a href="" id="login">ログイン</a>
            </div>
        </div>
    </div>
</body>
</html>