<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ランチョン予約</title>
    <link rel="stylesheet" href="../../static/css/user/index.css">
    <link rel="stylesheet" href="../../static/css/user/status.css">
</head>
<body>
    <div class="top-area">
        <div class="top-wrapper">
            <div class="top-bar"></div>
            <div class="top-nav">
                <ul class="top-nav-menu">
                    <li class="border padding">サイトについて</li>
                    <li class="border padding">プライバシーポリシー</li>
                    <li class="border padding">お問い合わせ</li>
                    <li>ログアウト</li>
                </ul>
            </div>
            <div id="slogan">
                <span>学会でのフードロスを削減する</span>
            </div>
            <div class="top-main">
                <div id="service-title">ランチョンセミナー予約</div>
                <div id="english">English</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main">
            <div class="conference-title-box">
                <span class="conference-title">第76回 日本胸部外科学会定期学術集会</span>
            </div>
            <div class="menu-area mb">
                <ul class="menu">
                    <li>セミナー情報</li>
                    <li>予約状況</li>
                </ul>
            </div>
            <div class="menu-title-area">
                <span class="menu-title">
                    予約状況
                </span>
            </div>
            <div class="status-block">
                <div class="status-date">
                    10月19日
                </div>
                <div class="status">
                    <div class="column">セミナータイトル</div>
                    <div class="data">ランチョンセミナー1</div>
                    <div class="column">主催企業</div>
                    <div class="data">日本メドトロニック株式会社</div>
                    <div class="column">予約番号</div>
                    <div class="data">12345690</div>
                </div>
            </div>
            <div class="cancel-area">
                <span class="cancel-button">キャンセル</span>
            </div>
        </div>
    </div>
</body>
</html>